.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black2;
  color: $white1;
  height: 60px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 16px;
  flex: none;
}
