* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Cascadia Code';
}

#root {
  height: 100%;
  margin: 0 auto;
}

html[data-theme='dark'] {
  --primary-bg-color: #{$black1};
  --secondary-bg-color: #{$black2};
  --primary-text-color: #{$white1};

  // App Layout
  --app-header-bg-color: #{$black2};
  --app-header-text-color: #{$white1};
  --app-body-bg-color: #{$black1};
  --app-body-text-color: #{$white1};
}

html[data-theme='light'] {
  --primary-bg-color: #{$black1};
  --secondary-bg-color: #{$black2};
  --primary-text-color: #{$white1};

  // App Layout
  --app-header-bg-color: #{$black2};
  --app-header-text-color: #{$white1};
  --app-body-bg-color: #{$white1};
  --app-body-text-color: #{$black2};
}
