* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Cascadia Code';
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100%;
  margin: 0 auto;
}

/** 용량을 줄이기 위해 'playground'의 대소문자만 폰트에 포함함.*/
@font-face {
  font-family: 'LeckerilOne';
  font-weight: 400;
  src: url('/fonts/LeckerilOne/LeckerliOne-Regular.subset.ttf')
    format('truetype');
}
