@include define-theme-var(
  'item-card__thumbnail-box-shadow-color',
  #{$black3},
  #{$white2}
);

.item-card {
  &__thumbnail-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $gray3;
    box-shadow: 0px 5px 20px -1px var(--item-card__thumbnail-box-shadow-color);
    border-radius: 10px;
    border: 1px solid $white2;
    overflow: hidden;
    transition: transform 0.3s;

    display: flex;
    flex-direction: column;
  }

  &__thumbnail-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, filter 0.3s;
  }

  &__thumbnail-container:hover &__thumbnail-img {
    filter: brightness(0.4);
    transform: scale(1.05) translateY(-2px);
  }

  &__hover-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
  }

  &__thumbnail-container:hover &__hover-section {
    opacity: 1;
  }

  &__created-or-modified-at {
    color: $gray1;
  }
}
