.typography {
  &__weight {
    &--regular {
      font-weight: 400;
    }
    &--medium {
      font-weight: 500;
    }
    &--bold {
      font-weight: 700;
    }
  }
  &__variant {
    &--h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    &--h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    &--h3 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    &--h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    &--h5 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    &--body1 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &--body2 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
